@model IEnumerable<UniConn_CS.Models.POST>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.creation_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMMUNITY.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EVENTS.event_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUDENTS.first_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.creation_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMMUNITY.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EVENTS.event_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STUDENTS.first_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.post_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.post_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.post_id })
        </td>
    </tr>
}

</table>
