@model IEnumerable<UniConn_CS.Models.POLL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.poll_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creation_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUDENTS.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POST.community_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.poll_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creation_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STUDENTS.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POST.community_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.poll_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.poll_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.poll_id })
        </td>
    </tr>
}

</table>
